<div class="small-pearl left-middle blur3opacity60">&nbsp;</div>
<div class="pearl bottom-right blur5opacity30">&nbsp;</div>
<div class="pearl top-right blur20opacity50">&nbsp;</div>
<div class="pearl left-top blur20opacity50">&nbsp;</div>
<div class="triangle top-middle blur3opacity60">&nbsp;</div>
<div class="triangle bottom-left blur3opacity60">&nbsp;</div>
<div class="small-pearl bottom-middle blur3opacity60">&nbsp;</div>
<div class="small-pearl top-middle-small blur3opacity60">&nbsp;</div>
<div class="triangle right-middle blur3opacity60">&nbsp;</div>
<div class="small-pearl lower-right blur3opacity60">&nbsp;</div>
<div class="triangle bottom-middle-small blur3opacity60">&nbsp;</div>