.opacity30{
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.opacity30{
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.blur5opacity30{
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px); /* For IE8 and earlier */
  opacity: 0.3;
  filter: alpha(opacity=30); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}

.blur3opacity60{
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  filter: blur(3px); /* For IE8 and earlier */
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.blur5opacity50{
  -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(5px); /* For IE8 and earlier */
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.blur10opacity50{
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  filter: blur(10px); /* For IE8 and earlier */
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.opacity50{
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.blur10opacity50{
  -webkit-filter: blur(10px); /* Safari 6.0 - 9.0 */
  opacity: 0.5;
  filter: alpha(opacity=50) blur(10px); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.blur20opacity50{
  -webkit-filter: blur(20px); /* Safari 6.0 - 9.0 */
  opacity: 0.5;
  filter: alpha(opacity=50) blur(20px); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.bottom-right{
  position: fixed;
  bottom: -10%;
  right: 0%;
}

.lower-right{
  position: fixed;
  bottom: 35%;
  right: 5%;
}

.top-right{
  position: fixed;
  top: -10%;
  right: 10%;
}
.left-top{
  position: fixed;
  top: 15%;
  left: 0%;
}

.top-middle{
  position: fixed;
  top: 5%;
  left: 30%;
}

.top-middle-small{
  position: fixed;
  top: 3%;
  left: 50%;
}

.bottom-left{
  position: fixed;
  bottom: 3%;
  left: 12%;
}

.bottom-middle{
  position: fixed;
  bottom: 6%;
  left: 35%;
}

.bottom-middle-small{
  position: fixed;
  bottom: 3%;
  left: 60%;
}

.left-middle{
  position: fixed;
  top: 60%;
  left: 4%;
}

.right-middle{
  position: fixed;
  top: 20%;
  right: -1%;
}
/*---------------------------------------------------------*/
div.logo{
  background: url('../images/logo2.png');
  background-size: 141px 131px;
  background-repeat: no-repeat;
  float: left;
  position: absolute;
  width: 141px;
  height: 131px;
  top: 1%;
}

div.pearl{
  background: url('../images/goldenpearl.png');
  background-size: 216px 214px;
  background-repeat: no-repeat;
  width: 216px;
  height: 214px;
}

div.triangle{
  background: url('../images/goldentriangle.png');
  background-size: 107px 73px;
  background-repeat: no-repeat;
  width: 107px;
  height: 73px;
}


div.small-pearl{
  background: url('../images/goldenpearl.png');
  background-size: 40px 40px;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}


div.content{
  position: absolute;
  min-width: 650px !important;
  width: 650px !important;
  height: 550px;
  top:0;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
}

div.content-background {
  width: 100%;
  height: 100%;
  background-color:rgba(255,255,255, .5);
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  border-radius: 15px;
  z-index:0;
}

div.content-desk {
  z-index: 40;
  position: absolute;
  background-color:rgba(255,255,255,1);
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  width: 100px;
  height: 80px;
  border-radius: 15px;
  text-align: center;
  left: 630px;
  top: -10px;
  font-size: 1.2em;
}

div.content-type{
  z-index: 40;
  position: absolute;
  background-color:rgba(255,255,255,1);
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  width: 100px;
  height: 80px;
  border-radius: 15px;
  text-align: center;
  left: 630px;
  top: 90px;
  font-size: 1.2em;
}

div.signedin{
  font-size: 1em;
  font-weight: bold;
  background-color: crimson;
  text-align: center;
  width: 97%;
}

span.content-desk-type{
  font-size: 1.5em;
  font-weight: bold;
}
div.content-section{
  padding: 2em 1em;
  width: 90%;
  z-index: 20;
  position: absolute;
  top: 2em;
	left: 0;
	right: 0;
  margin: auto;  
}

div.content-header {
  border-radius: 30px;
  background-color:rgb(255, 255, 255);
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  min-height: 2em;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  padding: 0.3em;
}




div.content-body{
  padding: 1em 0em;
}

.row-space {
  border-collapse:separate;
  border-spacing: 0 15px;
}
.row-space  tr{
  background-color:rgba(255,255,255,1);
  height: 1.8em;
  font-size: 1.2em;
  text-align: left;
}

.col1{
  vertical-align: top;
  width: 40%;
  padding: 0em 1.5em;
}

.col2{
  vertical-align: top;
  font-weight: bold;
  font-size: 1.2em;
}

div.content-footer {
  margin: 1em 0em;
  text-align: center;
  color: rgba(0,0,0,1);
  z-index: 20;
}

/*------------------------------------------------- */

div.scan-content-header {
  border-radius: 30px;
  background-color:rgba(255,255,255,1);
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  min-height: 2em;
  text-align: center;
  font-size: 1.5em;
  font-weight: bolder;
  padding: 0.3em 0.3em;
  margin-top: 15%;
}

div.scan-content-body {
  background-color:rgba(255,255,255,1);
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  min-height: 250px;
  width: 250px;
  text-align: center;
  vertical-align: bottom;
  font-size: 0.8em;
  font-weight: normal;
  padding: 0.3em 0.3em;
  margin: auto;
  margin-top: 40px;
}

/*--------------------------------------*/

div.prize-content{
  position: relative;
  min-width: 1000px !important;
  width: 1000px !important;
  height: 500px;
  top:20%;
	bottom: 0;
	left: 0;
	right: 0;
  margin: auto;
}


div.doorprize-content-header{
  background: url('../images/redbanner2.png');
  background-size: 100% 220px;
  background-repeat: no-repeat;
  background-position: center; 
  font-size: 3em;
  font-weight: bolder;
  text-align: center;
  color: #ffffff;
}

div.prize-content-body{
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: center;

}
div.prize-content-body2{
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: center;

}

div.doorprize-column{
  margin: 50px 20px;
}

div.doorprize-cell{
  margin-top: 20px;  
  background-color: rgba(255,255,255,1);
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  width: 150px;
  height: 150px;
  border-radius: 30px;
  overflow: hidden;
}

div.doorprize-cell-details{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

div.doorprize-cell-details-big{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  font-weight: bolder;
  width:150px;
  height:150px;
}

div.doorprize-cell-details-small{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 0.75em;
  font-weight: bold;
  width:150px;
  height:150px;
  padding: 5px 2px;
}

/*--------------------------------------------------------*/
div.grandprize-content-title{
  font-size: 4em;
  font-weight: bolder;
  text-align: center;  
  color: #9f1336;
}

div.grandprize-content-header{
  display: table-cell;
  background: url('../images/redbanner2.png');
  background-size: cover;
  background-position: center; 
  font-size: 7em;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  height: 200px;
  width: 1000px;
  padding-bottom: 30px;
  color: #ffffff;
}

div.grandprize-content-body{
  display: flex;
  margin: 0px 0px;
  z-index: 30;

}

div.grandprize-column{
  margin: 50px 20px;
}

div.grandprize-cell{
  margin-top: 20px;  
  background-color: rgba(255,255,255,1);
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  min-width: 300px;
  height: 50px;
  border-radius: 30px;
  overflow: hidden;
  display: table-cell;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 1px 2px;
}

/*-------------------------------------------------*/

input.scan{
  text-align: center;
  width: 100%;
  color: grey;
}

/*-------------------------------------------------*/
div.guest-content-header {
  border-radius: 30px;
  background-color:rgba(255,255,255,1);
  min-height: 2em;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  padding: 0.3em;
  margin: 30px 20px 35px 400px;
  width: 40%;
  display: inline-block;
  z-index: 40;
  position: relative;

}

div.guest-content-signin {
  border-radius: 30px;
  background-color: lightblue;
  height: 2em;
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  padding: 0.3em;
  margin: 30px 20px 10px 40px;
  width: 20%;
  position: absolute;
  display:inline-block;
}

span.guest-text-big{
  font-size: 1em;
  font-weight: bold;  
}
span.guest-text-small{
  font-size: 0.6em;
  font-weight: normal;  
}

div.guest-content-body {
  margin: 5px 20px 10px 20px;
  background: #ffffff;
  max-width: 100%;
  min-height: 600px;
  padding: 15px 5px;
  font-size: 0.7em;
  background-color:rgba(255,255,255,1);
  border-radius: 15px;
  z-index:20;
  position: relative;
}

div.dataTables_filter {
  float: right;
  margin: 0px 20px;
}
div.dataTables_paginate {
  margin-right: 40px;
}

div.dt-buttons{
  margin-top: 10px; 
  margin-left: 10px;
}